<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <table class="table table-striped table-bordered table-hover " id="add-order-table">
        <tbody id="add-order-table-body">
            <tr>
                <th>申请人：<span th:utext="${details.applyName}"></span></th>
                <th style="width: 300px">企业名称：<span th:utext="${details.applyCompany}"></span></th>
                <th>营业执照</th>
            </tr>
            <tr>
                <th>邮箱：<span th:utext="${details.applyEmail}"></span></th>
                <th>行业：<span th:utext="${details.industryName}"></span></th>
                <th rowspan="4"><img width="120" height="180" th:src="${details.applyLicense}"></th>
            </tr>
            <tr>
                <th>申请时间：<span th:utext="${#dates.format(details.applyTime,'yyyy-MM-dd HH:ss:mm')}"></span></th>
                <th>申请备注：<span th:utext="${details.remark}"></span></th>
            </tr>
            <tr>
                <th>审核状态：<span th:if="${details.examineStatus == 0}">待审核</span>
                    <span th:if="${details.examineStatus == 1}" style="color: red">未通过</span>
                    <span th:if="${details.examineStatus == 2}" style="color: green">已通过</span></th>
                <th>唯一识别码：<span th:utext="${details.uId}"></span></th>
            </tr>
            <tr>
                <th>审核人：<span th:utext="${details.examinePeopleName}"></span></th>
                <th>审核备注：<span th:utext="${details.examineRemark}"></span></th>
            </tr>
            <tr>
                <th>审核时间：<span th:utext="${#dates.format(details.examineTime,'yyyy-MM-dd HH:ss:mm')}"></span></th>
                <th>服务器：<span th:utext="${details.serverName}"></span></th>
                <th>服务端口：<span th:utext="${details.serverPort}"></span></th>
            </tr>
        </tbody>
    </table>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    function submitHandler() {
        $.modal.close();
    }
</script>
</body>
</html>
